<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.auth.Dao.RoleDao">

    <select id="getmenusbyrole" parameterType="java.lang.String" resultType="java.lang.String">
        select Menuguid from menu where Rolename=#{rolename}
    </select>


</mapper>
