# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\公司代码\robotauth\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
